header .main-menu .menu-left {
    display: flex;
    align-items: center;
}

header .category-menu {
    margin-left: 30px;
}

header .category-menu .btn {
    padding: 9px 18px;
    font-weight: 500;
}

header .category-menu .btn i {
    font-size: 11px;
    vertical-align: middle;
    padding-left: 5px;
}
